<div class="container col-md-6 col-md-offset-3">
  <p class="date--title">All posts</p>  
  <ul>
    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b" sheetsu-offset="10" sheetsu-sheet="Sorted">
      <li>
        <a href="{{url}}" class="main--link">{{title}} {{category}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
          <hr class="ruler"/>
      </li>
    </div>
  </ul>
</div>