<div class="container col-md-6 col-centered">

  <p class="date--title" id="mobile-invisible">ALL CAMPAIGNS</p>

<script language="javascript" src="//herokuapp.us8.list-manage.com/generate-js/?u=32b602d9ab9d238ceb45e3f05&fid=18201&show=10" type="text/javascript"></script>

<div class="email--box" id="subscribe">
    <p class="text-center email--cta">Receive a carefully hand-curated list of the <span style="border-bottom: 2px solid #4facfe;">5 best links</span> each week 💌</p>
    <div id="mc_embed_signup">
      <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=32b602d9ab9d238ceb45e3f05&amp;id=29cf4d6bd8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="jon@thenightswatch.com" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_32b602d9ab9d238ceb45e3f05_29cf4d6bd8" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value=" Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>    
  </div>

</div>