<div class="container right-column">

  <p class="date--title" id="mobile-invisible">Latest</p>

  <ul>
    <li>
      <a href="https://conversio.com/deep-dive/increase-customer-lifetime-value/" class="main--link">How Ecommerce Brands can Increase Customer Lifetime Value 📌 </a>
        <br />
      <span class="source">Conversio • Must read</span>
        <hr class="ruler"/>
    </li>

    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b" sheetsu-limit="4" sheetsu-sheet="Sorted">
      <li>
        <a href="{{url}}" class="main--link">{{category}} {{title}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
          <hr class="ruler"/>
      </li>
    </div>
  </ul>

  <ul>
    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b" sheetsu-limit="5" sheetsu-offset="4" sheetsu-sheet="Sorted">
      <li>
        <a href="{{url}}" class="main--link">{{title}} {{category}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
          <hr class="ruler"/>
      </li>
    </div>
  </ul>

  <br />
  <div class="text-center"><%= link_to "View older links", all_path, :class => "older--link" %> 📋</div>



  <hr style="border: 0;"/>

  <br class="clear" />

</div>
