<div class="container col-md-6 col-md-offset-3">

  <p class="date--title" id="mobile-invisible">Latest</p>

  <ul>
    <li>
      <a href="https://conversio.com/deep-dive/increase-customer-lifetime-value/" class="main--link">How Ecommerce Brands can Increase Customer Lifetime Value 📌 </a>
        <br />
      <span class="source">Conversio • Must read • LTV</span>
        <hr class="ruler"/>
    </li>

    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b" sheetsu-limit="4" sheetsu-sheet="Sorted">
      <li>
        <a href="{{url}}" class="main--link">{{category}} {{title}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
          <hr class="ruler"/>
      </li>
    </div>
  </ul>

  <div class="email--box" id="subscribe">
    <p class="text-center email--cta">Receive a carefully hand-curated list of the <span style="border-bottom: 2px solid #4facfe;">5 best links</span> each week 💌</p>
    <div id="mc_embed_signup">
      <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=32b602d9ab9d238ceb45e3f05&amp;id=29cf4d6bd8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="jon@thenightswatch.com" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_32b602d9ab9d238ceb45e3f05_29cf4d6bd8" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value=" Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>    
  </div>

  <ul>
    <div sheetsu="https://sheetsu.com/apis/v1.0/a2533b00323b" sheetsu-limit="5" sheetsu-offset="4" sheetsu-sheet="Sorted">
      <li>
        <a href="{{url}}" class="main--link">{{title}} {{category}}</a>
          <br />
        <span class="source">{{source}} • {{date}}</span>
          <hr class="ruler"/>
      </li>
    </div>
  </ul>

  <br />
  <div class="text-center"><%= link_to "View older links", all_path, :class => "older--link" %> 📋</div>



  <hr style="border: 0;"/>

  <br class="clear" />

</div>
