<h1>Building eCommerce Daily</h1>
<h3>I can code. I'm just lazy and wanted to prove a point.</h3>
<p></p>

<h3>Who am I?</h3>
<ul>
  <li>Argentinean, currently living in Milano and traveling the world</li>
  <li>Previously at Piktochart, then Director of Marketing at EVELO, now Head of Growth at The Martec</li>
  <li>I'm, but I've been learning how to code for a year now.</li>
  <li>I'm too lazy to write nice CSS.</li>
</ul>

<h3>What is eCommerce Daily?</h3>

<h3>Coming up with the idea</h3>
<p></p>


<h3>Building the functionality with Zapier & Feedly</h3>

<h3>The paint job</h3>

<h3>The initial promotion</h3>

<h3>Today</h3>