<div class="container col-md-6 col-md-offset-3">
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/kissmetrics.com?size=50&format=png" class="source--logos"></img><p class="source--name">Kissmetrics</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/shopify.com?size=50&format=png" class="source--logos"></img><p class="source--name">Shopify</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/conversio.com?size=50&format=png" class="source--logos"></img><p class="source--name">Conversio</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/conversionxl.com?size=50&format=png" class="source--logos"></img><p class="source--name">ConversionXL</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/adespresso.com?size=50&format=png" class="source--logos"></img><p class="source--name">AdEspresso</p></a>
    </div>
        <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/ecomcrew.com?size=50&format=png" class="source--logos"></img><p class="source--name">eCommerceCrew</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/ecommercefuel.com?size=50&format=png" class="source--logos"></img><p class="source--name">eCommerceFuel</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/socialtriggers.com?size=50&format=png" class="source--logos"></img><p class="source--name">SocialTriggers</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/practicalecommerce.com?size=50&format=png" class="source--logos"></img><p class="source--name">Practical Ecommerce</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/abetterlemonadestand.com?size=50&format=png" class="source--logos"></img><p class="source--name">ABLS</p></a>
    </div>
        <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/bigcommerce.com?size=50&format=png" class="source--logos"></img><p class="source--name">BigCommerce</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/blueacorn.com?size=50&format=png" class="source--logos"></img><p class="source--name">Blue Acorn</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/boldcommerce.com?size=50&format=png" class="source--logos"></img><p class="source--name">Bold Commerce</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/conversion-rate-experts.com?size=50&format=png" class="source--logos"></img><p class="source--name">CR Experts</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/bootstrappingecommerce.com?size=50&format=png" class="source--logos"></img><p class="source--name">Bootstrapping eCommerce</p></a>
    </div>

    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/demacmedia.com?size=50&format=png" class="source--logos"></img><p class="source--name">Demac Media</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/ecommerce-nation.co?size=50&format=png" class="source--logos"></img><p class="source--name">eCommerce Nation</p></a>
    </div>
        <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/bigcommerce.com?size=50&format=png" class="source--logos"></img><p class="source--name">BigCommerce</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/blueacorn.com?size=50&format=png" class="source--logos"></img><p class="source--name">Blue Acorn</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/boldcommerce.com?size=50&format=png" class="source--logos"></img><p class="source--name">Bold Commerce</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/conversion-rate-experts.com?size=50&format=png" class="source--logos"></img><p class="source--name">CR Experts</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/bootstrappingecommerce.com?size=50&format=png" class="source--logos"></img><p class="source--name">Bootstrapping eCommerce</p></a>
    </div>

      <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/practicalecommerce.com?size=50&format=png" class="source--logos"></img><p class="source--name">Practical Ecommerce</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/abetterlemonadestand.com?size=50&format=png" class="source--logos"></img><p class="source--name">ABLS</p></a>
    </div>
        <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/bigcommerce.com?size=50&format=png" class="source--logos"></img><p class="source--name">BigCommerce</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/blueacorn.com?size=50&format=png" class="source--logos"></img><p class="source--name">Blue Acorn</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/boldcommerce.com?size=50&format=png" class="source--logos"></img><p class="source--name">Bold Commerce</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/conversion-rate-experts.com?size=50&format=png" class="source--logos"></img><p class="source--name">CR Experts</p></a>
    </div>
    <div class="text-center source--block">
      <a href="#"><img src="https://logo.clearbit.com/bootstrappingecommerce.com?size=50&format=png" class="source--logos"></img><p class="source--name">Bootstrapping eCommerce</p></a>
    </div>
</div>