.display_archive {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
}

.campaign {
  line-height: 125%; 
  margin-bottom: 5px;
}

.campaign a {
    color: #4facfe;
}

.campaign a:hover {
    color: #676767;
    text-decoration: none;
}
