@media screen and (max-width: 768px) {

 #mobile-invisible { 
  display: none; 
 }

 .mobile--header {
  width: 100%;
  background-color: #122840;
  margin-top: 0px;
  padding: 30px;
  margin-bottom: 30px;
 }

 #desktop-invisible {
  display: block;
 }

 .main--title {
  margin-top: 0px;
  text-align: center;
 }

 .main--title a {
    font-size: 2.5rem;
    text-align: center;
 }

 .main--description {
  text-align: center;
  color: white;
  margin-bottom: 20px;
 }

 #mc_embed_signup{background:none; font:14px 'Fira Sans',sans-serif;  float: none;}

#mc_embed_signup input.email {width: 70% !important; float:none;}
#mc_embed_signup .button {width: 30% !important; float: none;}

 .main--box {
  height: 180px;
 }

.right-column {
  margin-left: 10px;
  padding-top: 0px;
}


 .main--link {
  font-size: 18px;
 }

 .source {
  font-size: 14px;
 }

#mc_embed_signup .button {
  height: 55px !important;
}

#mc_embed_signup input.email {
  height: 55px !important;
}

.older--link {
  text-align: center; 
  font-size: 16px;
}

.waiting--gif {
  height: 200px !important;
}

}