@import "bootstrap-sprockets";
@import "bootstrap";
@import 'normalize';

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}


p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  margin-top: 30px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer--note {
  font-size: 13px;
  color: #d5d5d5;
  line-height: 20px;
}

.footer--link {
  color: #d5d5d5;
  text-decoration: underline;
}


.foot {
  padding-left: 0px !important;
}

.email--box {
  margin-top: 30px;
  margin-bottom: 40px;
  background: #f9f9f9;
  padding: 25px;
  border-radius: 2px;
}

.footer--link:hover {
  color: #d5d5d5;
  text-decoration: none;
  border-bottom: 2px solid #d5d5d5;
}



.main--title--email {
  font-size: 12px;
  margin-top: -2px;
  color: #8a8a8a;
  font-family: 'Fira Sans', sans-serif;
  line-height: 12px;
}

.main--link {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  color: #4facfe;

}

.main--link:hover {
    color: #676767;
    text-decoration: none;

}

.email--note {
  font-family: 'Fira Sans', sans-serif;
}

.source {
  color: #d5d5d5;
  font-size: 12px;
}

.ruler {
  color: #d5d5d5;
  margin-top: 10px;
}

.older--link {
  font-size: 15px;
  font-family: 'Fira Sans', sans-serif;
  color: #d5d5d5;
  margin-bottom: 20px;
}

.older--link:hover {
  text-decoration: none;
  border-bottom: 2px solid #d5d5d5;
  color: #d5d5d5;
}

.date--title {
  text-transform: uppercase;
  color: #d6d6d6;
  font-weight: 700;
  letter-spacing: 1.1px;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 20px;
}

.email--cta {
  font-size: 15px;
  font-weight: 600;
  color: #676767;
  margin-bottom: 10px;
  margin-top: 7px;
}

.clear {
  clear: both;
}


h3 {
  font-size: 20px !important;
  text-transform: uppercase;
}

.twitter--box {
  width: 100%
}

ul {
  list-style: none;
  padding-left: 0;
}

  li {
    margin-bottom: 2px;
  }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 13px;
  font-family: 'Fira Sans', sans-serif;
  color: #d9d9d9;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 13px;
  font-family: 'Fira Sans', sans-serif;
  color: #d9d9d9;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 13px;
  font-family: 'Fira Sans', sans-serif;
  color: #d9d9d9;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 13px;
  font-family: 'Fira Sans', sans-serif;
  color: #d9d9d9;
}


@import 'navigation';
@import 'mediaqueries';

